#about{
    background: url(../images/about-bg.jpg) no-repeat top center;
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
    position: relative;
    .about-info{
        h2{
            color: #272727;
            font-size: 3em;
            padding-bottom: 10px;
            letter-spacing: -1px;
            font-weight: 600;
        }
        p {
            color: #757575;
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
            margin: 0 0 10px;
        }
    }
    .profile{
        img {
            border-radius: 100%;
            width: 65px;
            height: 65px;
            margin-right: 1em;
            display: inline-block;
            vertical-align: top;
            margin-top: 1em;
            max-width: 100%;
            margin-bottom: 16px;
        }
        h3 {
            margin-top: 0;
            font-size: 1.8em;
            line-height: 1.2em;
            margin-bottom: 0;
            letter-spacing: -1px;
            font-weight: 600;
        }
        p {
            color: #757575;
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
            margin: 0 0 10px;
        }
    } 
}